<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Codenames</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <%- include('partials/navbar') %>
        <div class="bg-primary h-[90vh] p-[50px] flex justify-center gap-4">
            <div class="w-[40vw] h-full bg-white overflow-x-auto rounded-lg">  
                <table class="table table-zebra">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Host</th>
                        <th>Players</th>
                    </tr>
                    </thead>
                    <tbody id="available-games-list">
                        <% locals.availableGames !== undefined && availableGames.forEach((game, index) => { %>
                            <tr id="game-row-<%= game.id %>">
                                <th><%= index + 1 %></th>
                                <td><%= game.host %></td>
                                <td><%= game.players %>/4</td>
                                <td>
                                    <form action="/games/join/<%= game.id %>" method="post" class="m-0">
                                        <button class="bg-primary hover:bg-info rounded-md border border-black w-full h-full">Join</button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <%- include('partials/chat') %>
        </div>

        <template id="game-row-template">
            <tr>
                <th></th> <!-- index -->
                <td class="host"></td> <!-- host -->
                <td class="players"></td> <!-- player count -->
                <td class="joinGame"> <!-- join button -->
                    <form action="/games/join/X" method="post" class="m-0">
                        <button class="bg-primary hover:bg-info rounded-md border border-black w-full h-full">Join</button>
                    </form>
                </td>
            </tr>
        </template>
    </body>
    <%- include('partials/footer') %>
</html>