<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Codenames</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <%- include('partials/navbar') %>
        <div class="bg-primary p-[50px] h-[90vh] flex justify-center gap-4">
            <div class="flex flex-col gap-6">
                <div class="flex gap-4 h-full">
                    <!-- red team -->
                    <div class="flex flex-col gap-6">
                        <!-- join buttons -->
                        <div class="flex">
                            <form class="flex-1 text-center m-0" action="/games/joinTeam/<%= gameId %>/red/spymaster" method="POST">
                                <button 
                                    class="h-10 border border-black rounded-full px-[6px] 
                                    <%= redTeam.spymaster ? `bg-gray-400 cursor-not-allowed` : `bg-[#FFE400] hover:bg-[#ECD300]`%>"
                                    <%= redTeam.spymaster && "disabled" %>>Join as Spymaster</button>
                            </form>
                            <form class="flex-1 text-center m-0" action="/games/joinTeam/<%= gameId %>/red/operative" method="POST">
                                <button 
                                    class="h-10 border border-black rounded-full px-[6px] 
                                    <%= redTeam.operative ? `bg-gray-400 cursor-not-allowed` : `bg-[#FFE400] hover:bg-[#ECD300]`%>"
                                    <%= redTeam.operative && "disabled" %>>Join as Operative</button>
                            </form>
                        </div>
                        <div class="h-full w-[325px] rounded-md bg-[#8F2B1C] p-[10px]">
                            <div class="redSpymaster text-2xl text-white mb-10">Spymaster: <%= redTeam.spymaster ? redTeam.spymaster : "-" %></div> <!-- red spymaster -->
                            <div class="redOperative text-2xl text-white">Operative: <%= redTeam.operative ? redTeam.operative : "-" %></div> <!-- red operative -->
                        </div>
                    </div>
                    <!-- blue team -->
                    <div class="flex flex-col gap-6">
                        <!-- join buttons -->
                        <div class="flex">
                            <form class="flex-1 text-center m-0" action="/games/joinTeam/<%= gameId %>/blue/spymaster" method="POST">
                                <button 
                                    class="h-10 border border-black rounded-full px-[6px]
                                    <%= blueTeam.spymaster ? `bg-gray-400 cursor-not-allowed` : `bg-[#FFE400] hover:bg-[#ECD300]`%>"
                                    <%= blueTeam.spymaster && "disabled" %>>Join as Spymaster</button>
                            </form>
                            <form class="flex-1 text-center m-0" action="/games/joinTeam/<%= gameId %>/blue/operative" method="POST">
                                <button 
                                    class="h-10 border border-black rounded-full px-[6px]
                                    <%= blueTeam.operative ? `bg-gray-400 cursor-not-allowed` : `bg-[#FFE400] hover:bg-[#ECD300]`%>"
                                    <%= blueTeam.operative && "disabled" %>>Join as Operative</button>
                            </form>
                        </div>
                        <div class="h-full w-[325px] rounded-md bg-[#3384A3] p-[10px]">
                            <div class="blueSpymaster text-2xl text-white mb-10">Spymaster: <%= blueTeam.spymaster ? blueTeam.spymaster : "-" %></div> <!-- blue spymaster -->
                            <div class="blueOperative text-2xl text-white">Operative: <%= blueTeam.operative ? blueTeam.operative : "-" %></div> <!-- blue operative -->
                        </div>
                    </div>
                </div>
                <form class="text-center m-0">
                    <button 
                    class="w-full rounded-full border border-black h-12
                    <%= (host !== username) ? `bg-gray-400 cursor-not-allowed` : `bg-[#FFE400] hover:bg-[#ECD300]` %>"
                    <%= (host !== username) && "disabled" %>>Start Game</button>
                </form>
            </div>
            <%- include('partials/chat') %>
        </div>
    </body>
    <%- include('partials/footer') %>
</html>